<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-between">
    <PageHeader Size="PageHeader.Sizes.H2">Reservations</PageHeader>

    <button href="CreateReservation" class="btn btn-primary ml-auto">
        Add reservation
    </button>
</div>

@if (Reservations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vehicle</th>
                <th>From</th>
                <th>Until</th>
                <th>By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Reservations)
            {
                <tr>
                    <td>@reservation.Id</td>
                    <td>@reservation.AutoName</td>
                    <td>@reservation.Start.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@reservation.End.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@reservation.UserName</td>
                </tr>
            }
        </tbody>
    </table>

}
