<PageTitle>Home</PageTitle>

<div class="d-flex justify-content-between">
    <PageHeader Size="PageHeader.Sizes.H2">Reservations</PageHeader>

    <button @onclick="GotoReservation" class="btn btn-primary ml-auto">
        Add reservation
    </button>
</div>

<p>All reservations</p>

@if (Reservations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Vehicle</th>
                <th>From</th>
                <th>Until</th>
                <th>By</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Reservations)
            {
                <tr>
                    <td>@reservation.Id</td>
                    @* Hier moet je nog wat mee: *@
                    @* <td>@reservation.Vehicle.Brand @reservation.Vehicle.Model</td> *@

                    @* Deze heb ik omgezet naar jouw variabelen van ReservationResponse *@
                    <td>@reservation.Start.ToString("dd-MM-yyyy HH:mm")</td>
                    <td>@reservation.End.ToString("dd-MM-yyyy HH:mm")</td>
                    @* Hier moet je nog wat mee: *@
                    @* <td>@reservation.UserName</td> *@
                </tr>
            }
        </tbody>
    </table>
}
